<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Simple Chat</title>
</head>
<body>
<div>
    <div class="logo">
        <img src="#">
    </div>
    <form action="" method="get">
        <input name="s" placeholder="Search here..." type="search">
        <button type="submit">Go!</button>
    </form>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}" class="login-button">Logout</a>
    <a href="#" class="messages-button">Messages 0</a>
    <a href="#" class="profile-button">Profile</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</body>
<script>
function get_json(){
    let request = new XMLHttpRequest();
    var params = 'userId=' + encodeURIComponent({{current_user.id}});
    request.open("GET", "/_get_json?" + params, true);
    request.send();
    request.onload = function() {
        if (request.status != 200) {
            alert(`Ошибка ${request.status}: ${request.statusText}`);
            } else {
                document.querySelectorAll(".chat").forEach(el => el.remove());
                let response = JSON.parse(request.response);
                for (var key in response) {
                    let div = document.createElement('div');
                    div.className = "chat";
                    div.id = key;
                    let chatName = key;
                    let userName = response[key].users.username
                    div.innerHTML = chatName + " " + userName;
                    document.querySelector('#chat-holder').append(div);
                    }
                }
            }
        }

    let timerId = setInterval(() => get_json(), 4000);
</script>
</html>