{% extends "base.html" %}

{% block content %}
 <script>
        let currentUserId = {{ current_user.id }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
<div>
    {% if current_user.is_authenticated %}
        <h1> Welcome to Simple Chat, {{ current_user.username }}!</h1>
            <div class="chats" id="chat-holder"  style="width: 500px; height: 400px; border: 1px rgb(0, 0, 0) solid"></div>
            <div id="message-holder" style="width: 500px; height: 400px; border: 1px rgb(0, 0, 0) solid"></div>
    {% else %}
        <h1>Welcome to Simple Chat!</h1>
    <div>
    <p>Please, login or register to continue</p>
</div>
<div>

    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
</div>
    {% endif %}

        <input id="send-message" placeholder="Enter the message" type="search" style="height: 70px; width: 300px;">
        <button type="submit" class="button">Send!</button>

</div>

{% endblock %}